#app {
	height: 100%;
}
html {
	position: relative;
	height: 100%;
}
body {
	position: relative;
	height: 100%;
	background: white;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}
.swiper {
	width: 80%;
    height: 350px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
	img {
		display: block;
		width: 100%;
		object-fit: cover;
		box-sizing: border-box;
	}
}
.logo{
    margin: 0 250px 0 250px;
display: flex;
justify-content: space-around;
img{
    width: 8%;
    object-fit: contain;
		
}
}

@media screen and (max-width: 768px) {
	.logo{
		margin: 0px 0 0 100px;
		display: flex;
		justify-content: space-around;
		width: 70%;
	}
}


@media screen and (max-width: 420px) {
	.logo{
		margin: 0px 0 0 0px;
		display: flex;
		justify-content: space-around;
		width: 100%;
	}
}