.bannerImg{
    width: 100%;
        height: 500px;
        object-fit: fill;
        object-position: center;
        
}
.bannerText{
    margin-top: 20px;
    font-size: x-large;
    font-weight: 600;
    text-align: center;
}